* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    text-align: center;
}

#sketchContainer {
    align-self: center;

    width: 500px;
    height: 500px;
    
    display: flex;
    flex-wrap: wrap;

    border: 2px;
    border-color: rgb(164, 170, 185);
    border-style: solid;
}

#gridResContainer {
    width: 300px;

    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#sliderRow {
    display: flex;
    gap: 5px;
}

#gridResDisplay {
    width: 20px;
    height: 15px;
    background-color: rgb(128, 0, 0);
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

input[type="range"] {
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    background-color: rgb(164, 170, 185);
    border-radius: 5px;
}
input[type="range"]::-moz-range-track {
    height: 8px;
    background-color: rgb(164, 170, 185);
    border-radius: 5px;
}
input[type="range"]::-ms-track {
    height: 8px;
    background-color: rgb(164, 170, 185);
    border-radius: 5px;

    background: transparent; /* Required to remove default styling */
    color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(128, 0, 0);
    border-radius: 50%;
    margin-top: -3px;
}
input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: rgb(128, 0, 0);
    border-radius: 50%;
    margin-top: -3px;
}
input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: rgb(128, 0, 0);
    border-radius: 50%;
    margin-top: -3px;
}